* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font1: 'Poppins', sans-serif;

}

:root {
  --cor1: #00B1EB;
  --cor2: #12264B;
  --cor3: #EDEDED;

  --font1: 'Poppins', sans-serif;

}

main {
  /* background-color: blue; */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-image: url(./caminhao_login.png); */
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* background-size: cover; */

}

#login {
  /* background-color: brown; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

}

form {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 40px;
  align-items: center;
  padding: 10px 50px;



}

.alinhamento_campos_login {
  /* background-color:chocolate; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* margin: 40px; */
}

.alinhamento_campos_login input {
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 576px;
  background-color: #EDEDED;
  font-family: 'Poppins';
}

.alinhamento_campos_login label {
  font-size: 16px;
  margin-bottom: 15px;

}

.alinhamento_campos_Entrar {
  display: contents;
  border-radius: 300px;
  border: none;
  font-family: 'Poppins';
  align-items: center;
  font-size: 34px;
  /* margin-bottom: 337px; */
  width: 303px;
  height: 57px;
}


.alinhamento_campos_Entrar button {
  align-items: center;
  font-family: 'Poppins';
  height: 56px;
  width: 211px;
  border-radius: 30px;
  border: none;
  background-color: #00B1EB;


}

.botao_entrar {
  display: flex;
  background-color: #00B1EB;
}


.alinhamento_texto_opcao {
  display: flex;

}

main img {
  width: 60%;
  height: 100%;
}

.link_nao_cadastro {
  color: var(--cor2);
  border-radius: 8px;
}

#lembre_me {
  border-radius: 10px;
}