* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-branco: #FFFFFF;
    --cor-primaria: #12264B;
    --cor-secundaria: #FFD100;
    --cor-terciaria: #00B0FF;
    --cor-quartenaria: #195F8C;
    --cor-cinza-escuro: #252936;
    --cor-preto: #000000;
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-tamanho: 18px;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

.direction_column {
    display: flex;
    flex-direction: column;
}

.direction_row {
    flex-direction: row;
}

.justify_center {
    display: flex;
    justify-content: center;
}

.align_center {
    display: flex;
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.space_evenly {
    display: flex;
    justify-content: space-evenly;
}

.space_around {
    justify-content: space-around;
}
